

<div class="body">
  <div class="contenido-principal animate__animated animate__fadeInDown animate__slower	3s">
    <div class="contenedor-logo">
      <img src="../assets/img/loco-itsl.png" class="img-tec" alt="">
    </div>
    <div class="contenedor-elementos">
      <div class="contendor-titulos">
        <h2 class="titulo-1  animate__animated animate__pulse animate__delay-3s animate__slower animate__infinite">¡FELICIDADES!</h2>
      </div>
      <div class="contendor-titulos">
        <!-- <h2 class="titulo-1">¡FELICIDADES!</h2> -->
        <p class="titulo-2">Ahora eres acreedor a una beca del 10% dentro del ITSL <br> dentro de la carrera de Ingenieria Informatica.</p>
        <br>

      </div>
      <div class="contenedor-btn">
        <button class="btn btn-beca" (click)="obtenerBeca()">Obtener Beca</button>
      </div>
    </div>
  </div>
</div>

